--extra-index-url https://download.pytorch.org/whl/cpu
streamlit
ultralytics
torch
torchvision
pillow
pandas
folium
streamlit-folium
opencv-contrib-python-headless
numpy
scikit-learn
streamlit-webrtc
av
