streamlit
ultralytics
torch
torchvision
pillow
pandas
folium
streamlit-folium
opencv-contrib-python-headless
numpy
scikit-learn
streamlit-webrtc
av
reportlab
pyrebase4
requests
urllib3
gcloud
oauth2client
streamlit-js-eval
supabase==2.4.0
streamlit
